@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter after:fixed after:top-0 after:bottom-0 after:left-0 after:bg-[#EA7550] after:z-[1000] after:w-[50vw] before:w-[50vw] before:fixed before:top-0 before:bottom-0 before:right-0 before:bg-[#EA7550] before:z-[1000] after:transition-all before:transition after:duration-1000 before:duration-1000 after:origin-left before:origin-right transition-opacity after:text-3xl duration-1000 before:px-4;
  }

  body.loaded .loader {
    @apply opacity-0 z-[-2000];
  }

  body.loaded {
    @apply after:content-[''] before:content-[''] opacity-100 after:scale-x-0 before:scale-x-0;
  }
}

@layer components {
  .btn {
    @apply p-3 text-center rounded border flex items-center justify-center bg-black border-transparent text-white transition-all duration-200 hover:tracking-widest;
  }

  .categories-items {
    @apply px-4;
  }

  .categories-items.active {
    cursor: grab;
  }

  select.country-dropdown:focus {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1),
      0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }

  select.country-dropdown option:not(:disabled) {
    @apply hover:bg-gray-100 py-2 px-4 pl-7;
  }

  select.country-dropdown option:disabled {
    @apply py-3 px-4 pl-16  h-11 leading-[0] text-black text-base flex font-medium bg-no-repeat bg-[24px_center] border-t border-gray-100 first:border-none;
  }

  .prev-btn.desactived,
  .next-btn.desactived {
    @apply bg-white/20 cursor-default pointer-events-none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
